AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" />
      <xsd:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CheckLicense.Log" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmUpsert" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmGet_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmGet" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmGetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmList_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmList" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_FirmUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputersUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputersUpsert" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputersUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputersUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerUpsert" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationGet_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationGet" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationGetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerListAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerList_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerList" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationUpsert" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationListAll" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationList_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationList" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_OperationUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseUpsert" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:LogToDb" />
  </wsdl:message>
  <wsdl:message name="IService1_LogToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogToDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseList_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseList" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerDeleteAllBaseFormid_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputerDeleteAllBaseFormid" />
  </wsdl:message>
  <wsdl:message name="IService1_ComputerDeleteAllBaseFormid_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputerDeleteAllBaseFormidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseDeleteAllBaseOperationid_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseDeleteAllBaseOperationid" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLicenseDeleteAllBaseOperationid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseDeleteAllBaseOperationidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetControlPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControlPoint" />
  </wsdl:message>
  <wsdl:message name="IService1_GetControlPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlPointResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFEControlList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFEControlList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFEControlList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFEControlListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FirmUpsert" message="tns:IService1_FirmUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FirmUpsertResponse" message="tns:IService1_FirmUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FirmGet" message="tns:IService1_FirmGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FirmGetResponse" message="tns:IService1_FirmGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FirmList" message="tns:IService1_FirmList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FirmListResponse" message="tns:IService1_FirmList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FirmDelete" message="tns:IService1_FirmDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FirmDeleteResponse" message="tns:IService1_FirmDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FirmUpdate" message="tns:IService1_FirmUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FirmUpdateResponse" message="tns:IService1_FirmUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputersUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputersUpsert" message="tns:IService1_ComputersUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputersUpsertResponse" message="tns:IService1_ComputersUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerUpsert" message="tns:IService1_ComputerUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerUpsertResponse" message="tns:IService1_ComputerUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationGet" message="tns:IService1_OperationGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationGetResponse" message="tns:IService1_OperationGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerListAll" message="tns:IService1_ComputerListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerListAllResponse" message="tns:IService1_ComputerListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerList" message="tns:IService1_ComputerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerListResponse" message="tns:IService1_ComputerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerDelete" message="tns:IService1_ComputerDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerDeleteResponse" message="tns:IService1_ComputerDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerUpdate" message="tns:IService1_ComputerUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerUpdateResponse" message="tns:IService1_ComputerUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationUpsert" message="tns:IService1_OperationUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationUpsertResponse" message="tns:IService1_OperationUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationListAll" message="tns:IService1_OperationListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationListAllResponse" message="tns:IService1_OperationListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationList" message="tns:IService1_OperationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationListResponse" message="tns:IService1_OperationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationDelete" message="tns:IService1_OperationDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationDeleteResponse" message="tns:IService1_OperationDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OperationUpdate" message="tns:IService1_OperationUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OperationUpdateResponse" message="tns:IService1_OperationUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLicenseUpsert" message="tns:IService1_CheckLicenseUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLicenseUpsertResponse" message="tns:IService1_CheckLicenseUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogToDb" message="tns:IService1_LogToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogToDbResponse" message="tns:IService1_LogToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLicenseList" message="tns:IService1_CheckLicenseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLicenseListResponse" message="tns:IService1_CheckLicenseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLicenseDelete" message="tns:IService1_CheckLicenseDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLicenseDeleteResponse" message="tns:IService1_CheckLicenseDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLicenseUpdate" message="tns:IService1_CheckLicenseUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLicenseUpdateResponse" message="tns:IService1_CheckLicenseUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputerDeleteAllBaseFormid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComputerDeleteAllBaseFormid" message="tns:IService1_ComputerDeleteAllBaseFormid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComputerDeleteAllBaseFormidResponse" message="tns:IService1_ComputerDeleteAllBaseFormid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseDeleteAllBaseOperationid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLicenseDeleteAllBaseOperationid" message="tns:IService1_CheckLicenseDeleteAllBaseOperationid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLicenseDeleteAllBaseOperationidResponse" message="tns:IService1_CheckLicenseDeleteAllBaseOperationid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetControlPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetControlPoint" message="tns:IService1_GetControlPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetControlPointResponse" message="tns:IService1_GetControlPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApplication" message="tns:IService1_GetAllApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApplicationResponse" message="tns:IService1_GetAllApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFEControlList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFEControlList" message="tns:IService1_GetFEControlList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFEControlListResponse" message="tns:IService1_GetFEControlList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetApplication" message="tns:IService1_GetApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetApplicationResponse" message="tns:IService1_GetApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmUpsert">
      <soap:operation soapAction="http://tempuri.org/IService1/FirmUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmGet">
      <soap:operation soapAction="http://tempuri.org/IService1/FirmGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmList">
      <soap:operation soapAction="http://tempuri.org/IService1/FirmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/FirmDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/FirmUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputersUpsert">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputersUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerUpsert">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationGet">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerListAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerList">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationUpsert">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationListAll">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationList">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/OperationUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseUpsert">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLicenseUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogToDb">
      <soap:operation soapAction="http://tempuri.org/IService1/LogToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseList">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLicenseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLicenseDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLicenseUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputerDeleteAllBaseFormid">
      <soap:operation soapAction="http://tempuri.org/IService1/ComputerDeleteAllBaseFormid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseDeleteAllBaseOperationid">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLicenseDeleteAllBaseOperationid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetControlPoint">
      <soap:operation soapAction="http://tempuri.org/IService1/GetControlPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFEControlList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFEControlList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/GetApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://31.7.35.42/checklicense/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>