AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service153.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LicenseControllerWs" />
  <xs:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CheckLicense.Log" />
  <xs:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AutoCadLisansKontrol.DAL" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="firm" nillable="true" type="q1:Firm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertFirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="GetFirmResult" nillable="true" type="q2:Firm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListFirmResult" nillable="true" type="q3:ArrayOfFirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="firm" nillable="true" type="q4:Firm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="c" nillable="true" type="q5:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpsertComputerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="GetOperationResult" nillable="true" type="q6:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllComputer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListAllComputerResult" nillable="true" type="q7:ArrayOfComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListComputerResult" nillable="true" type="q8:ArrayOfComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="comp" nillable="true" type="q9:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="opr" nillable="true" type="q10:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListAllOperationResult" nillable="true" type="q11:ArrayOfOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListOperationResult" nillable="true" type="q12:ArrayOfOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="opr" nillable="true" type="q13:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="opr" nillable="true" type="q14:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertCheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="oprdetail" nillable="true" type="q15:CheckLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertCheckLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogToDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CheckLicense.Log" minOccurs="0" name="logs" nillable="true" type="q16:ArrayOfLogData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogToDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCheckLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="ListCheckLicenseResult" nillable="true" type="q17:ArrayOfCheckLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="oprdetail" nillable="true" type="q18:CheckLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheckLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="oprdetail" nillable="true" type="q19:CheckLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllComputerBaseFormid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllComputerBaseFormidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllLicenseBaseOperationid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oprId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllLicenseBaseOperationidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlPoint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AutoCadLisansKontrol.DAL" minOccurs="0" name="GetControlPointResult" nillable="true" type="q20:ArrayOfControlPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="GetAllApplicationResult" nillable="true" type="q21:ArrayOfSoftware" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFEControlList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFEControlListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="GetFEControlListResult" nillable="true" type="q22:ArrayOfFE_ControlList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LicenseControllerWs" minOccurs="0" name="GetApplicationResult" nillable="true" type="q23:Software" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>