AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://31.7.35.42/checklicense/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UsersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersDTO" nillable="true" type="tns:UsersDTO" />
  <xs:complexType name="FirmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerCount" type="xs:int" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirmDTO" nillable="true" type="tns:FirmDTO" />
  <xs:complexType name="ArrayOfFirmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FirmDTO" nillable="true" type="tns:FirmDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFirmDTO" nillable="true" type="tns:ArrayOfFirmDTO" />
  <xs:complexType name="ArrayOfComputerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComputerDTO" nillable="true" type="tns:ComputerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComputerDTO" nillable="true" type="tns:ArrayOfComputerDTO" />
  <xs:complexType name="ComputerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirmId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsComputer" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRootMachine" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PyshicalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputerDTO" nillable="true" type="tns:ComputerDTO" />
  <xs:complexType name="OperationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerCount" type="xs:int" />
      <xs:element minOccurs="0" name="Firm" nillable="true" type="tns:FirmDTO" />
      <xs:element minOccurs="0" name="FirmId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationDTO" nillable="true" type="tns:OperationDTO" />
  <xs:complexType name="ArrayOfOperationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationDTO" nillable="true" type="tns:OperationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationDTO" nillable="true" type="tns:ArrayOfOperationDTO" />
  <xs:complexType name="CheckLicenseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComputerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirmId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InstallDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Installed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFound" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Output" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnInstallDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uninstalled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckLicenseDTO" nillable="true" type="tns:CheckLicenseDTO" />
  <xs:complexType name="ArrayOfCheckLicenseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckLicenseDTO" nillable="true" type="tns:CheckLicenseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckLicenseDTO" nillable="true" type="tns:ArrayOfCheckLicenseDTO" />
  <xs:complexType name="ArrayOfControlPointDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlPointDTO" nillable="true" type="tns:ControlPointDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlPointDTO" nillable="true" type="tns:ArrayOfControlPointDTO" />
  <xs:complexType name="ControlPointDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgExecTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WillChecked" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlPointDTO" nillable="true" type="tns:ControlPointDTO" />
  <xs:complexType name="ArrayOfSoftwareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoftwareDTO" nillable="true" type="tns:SoftwareDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftwareDTO" nillable="true" type="tns:ArrayOfSoftwareDTO" />
  <xs:complexType name="SoftwareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsEnable" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoftwareDTO" nillable="true" type="tns:SoftwareDTO" />
  <xs:complexType name="ArrayOfFE_ControlListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FE_ControlListDTO" nillable="true" type="tns:FE_ControlListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFE_ControlListDTO" nillable="true" type="tns:ArrayOfFE_ControlListDTO" />
  <xs:complexType name="FE_ControlListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Drive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FE_ControlListDTO" nillable="true" type="tns:FE_ControlListDTO" />
</xs:schema>