AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24855/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" />
  <xs:import schemaLocation="http://localhost:24855/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CheckLicense.Log" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="LoginResult" nillable="true" type="q1:UsersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="firm" nillable="true" type="q2:FirmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmUpsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="FirmGetResult" nillable="true" type="q3:FirmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="FirmListResult" nillable="true" type="q4:ArrayOfFirmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="firm" nillable="true" type="q5:FirmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="c" nillable="true" type="q6:ComputerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputerUpsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="OperationGetResult" nillable="true" type="q7:OperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="ComputerListAllResult" nillable="true" type="q8:ArrayOfComputerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="ComputerListResult" nillable="true" type="q9:ArrayOfComputerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="comp" nillable="true" type="q10:ComputerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="opr" nillable="true" type="q11:OperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationUpsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="OperationListAllResult" nillable="true" type="q12:ArrayOfOperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="OperationListResult" nillable="true" type="q13:ArrayOfOperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="opr" nillable="true" type="q14:OperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="opr" nillable="true" type="q15:OperationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="oprdetail" nillable="true" type="q16:CheckLicenseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseUpsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogToDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CheckLicense.Log" minOccurs="0" name="logs" nillable="true" type="q17:ArrayOfLogData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogToDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="CheckLicenseListResult" nillable="true" type="q18:ArrayOfCheckLicenseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="oprdetail" nillable="true" type="q19:CheckLicenseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="oprdetail" nillable="true" type="q20:CheckLicenseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerDeleteAllBaseFormid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputerDeleteAllBaseFormidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseDeleteAllBaseOperationid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oprId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseDeleteAllBaseOperationidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlPoint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="GetControlPointResult" nillable="true" type="q21:ArrayOfControlPointDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="GetAllApplicationResult" nillable="true" type="q22:ArrayOfSoftwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFEControlList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFEControlListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="GetFEControlListResult" nillable="true" type="q23:ArrayOfFE_ControlListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LicenseControllerWs.DAL" minOccurs="0" name="GetApplicationResult" nillable="true" type="q24:SoftwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>