AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CheckLicense.Log" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CheckLicense.Log" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24855/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLogData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogData" nillable="true" type="tns:LogData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogData" nillable="true" type="tns:ArrayOfLogData" />
  <xs:complexType name="LogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpId" type="xs:decimal" />
      <xs:element minOccurs="0" name="FirmId" type="xs:int" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelId" type="xs:decimal" />
      <xs:element minOccurs="0" name="LogDataType" type="tns:LogDataType" />
      <xs:element minOccurs="0" name="LogId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReqXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="tns:LogDataState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogData" nillable="true" type="tns:LogData" />
  <xs:simpleType name="LogDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitiliazeProcess" />
      <xs:enumeration value="InitiliazeItemOfProcess" />
      <xs:enumeration value="UpdateItemOfProcess" />
      <xs:enumeration value="UpdateProcess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogDataType" nillable="true" type="tns:LogDataType" />
  <xs:simpleType name="LogDataState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogDataState" nillable="true" type="tns:LogDataState" />
</xs:schema>