AutoCadLisansApp.Wpf/Service References/autocad.masterkey.ws/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutoCadLisansKontrol.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutoCadLisansKontrol.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfControlPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlPoint" nillable="true" type="tns:ControlPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlPoint" nillable="true" type="tns:ArrayOfControlPoint" />
  <xs:complexType name="ControlPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgExecTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WillChecked" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlPoint" nillable="true" type="tns:ControlPoint" />
</xs:schema>